{% extends "layout.html" %}
{% block content %}
  {% for show in shows %}
    <article class="content-section py-3 px-4 mb-4">
      <div class="d-flex align-items-start gap-4">
        <img class="rounded-circle article-img flex-shrink-0"
             src="{{ url_for("static", path='profile_pics/default.jpg') }}"
             alt="{{ show.name }}'s profile picture"
             width="64"
             height="64"
             loading="lazy">
        <div class="flex-grow-1">
          <div class="article-metadata mb-2">
            <a class="me-2" href="#">{{ show.name }}</a>
            <small class="text-body-secondary">{{ show.watch_status }}</small>
          </div>
          <h2>
            <a class="article-title" href="{{ url_for("show_page", show_id=show.id) }}">{{ show.name }}</a>
          </h2>
          <p class="article-content">{{ show.completeness }}</p>
          <p class="article-content">{{ show.review }}</p>
        </div>
      </div>
    </article>
  {% endfor %}
{% endblock content %}